[Unit]
Description=spire-server

[Service]
Type=simple
User=${USER}
WorkingDirectory=/opt/spire
ExecStart=/opt/spire/spire-server run

[Install]
WantedBy=multi-user.target

