[Unit]
Description=spire-agent

[Service]
Type=simple
User=${USER}
WorkingDirectory=/opt/spire
ExecStart=/opt/spire/spire-agent run

[Install]
WantedBy=multi-user.target

