[Service]
Type=simple
User=ubuntu
Restart=always
RestartSec=3
WorkingDirectory=/opt/grok_exporter
ExecStart=/opt/grok_exporter/grok_exporter --config /opt/grok_exporter/grok_config.yml

[Install]
WantedBy=multi-user.target
